

<section class="ae-container-fluid ae-container-fluid--full">
  
    <!--domine-->
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-6"><img src="/assets/img/caso_domine0.png" style="border-radius: 24px;border-width: 1px;border-style: solid;border-color: #2f57ef;"></div>
        <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
          <h4 class="ae-u-bolder">Un fallo que ayudará a que se vuelva a creer en las instituciones.</h4>
          <p class="ae-eta">Tuvimos el honor de poder participar y aportar en un
             caso que conmovió a la provincia, obteniendo una sentencia memorable en honor a la victima</p>
          <p class="ae-eta">Nuestro equipo, liderado por Patricio Char, y secundado por Nicolas Ruiz Belmonte,
             ha realizado una labor formidable producto de un gran sacrifico durante más de 1 año..</p>
        </div>
      </div>
    </div>

    
    <!--Cultivo de marimba-->
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-6"><img src="assets/img/cultivo_marihuana.png" style="border-radius: 24px;border-width: 1px;border-style: solid;border-color: #2f57ef;"></div>
        <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
          <h4 class="ae-u-bolder">No vamos a permitir que persigan a usuarios.</h4>
          <p class="ae-eta">Hemos articulado una defensa férrea 
            en favor del usuario para hacer valer su derecho a la Salud y a la propiedad privada!
          Para devolver la medicina, entre otras excusas,</p>
          <p class="ae-eta">Funcionarios de la justicia de Concepción argumentaron 
            que las medicinas no tenían “ni un sello siquiera” que acredite la propiedad.</p>
        </div>
      </div>
      
      <!--Drex Castro-->
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-6"><img src="assets/img/drex_castro.png" style="border-radius: 24px;border-width: 1px;border-style: solid;border-color: #2f57ef;"></div>
        <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
          <h4 class="ae-u-bolder">Justicia por “Drex” Castro.</h4>
          <p class="ae-eta">En el día de ayer, la justicia tucumana condenó por 
            Homicidio crimins causa al autor material del disparo que acabó con la vida de Andres Castro en el año 2016.</p>
          <p class="ae-eta">Tenemos fe en que la Corte Suprema ponga al asesino en su lugar.</p>
        </div>
      </div>

      <!-- Herido por bala-->
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-6">
          <img src="assets/img/hombre_baleado.png" style="border-radius: 24px;border-width: 1px;border-style: solid;border-color: #2f57ef;">
        </div>
        <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
          <h4 class="ae-u-bolder">Nuestro equipo asumió la defensa del caso y trabajó duramente para la captura del prófugo.</h4>
          <p class="ae-eta">Consideramos que estamos ante un caso de Homicidio en grado de tentativa, 
            y no ante un delito de lesiones graves como sostuvo el MPF.</p>
          </div>
      </div>

      
    </div>
  </section>