
<div class="equipo">
  <h1>Bienvenidos a nuestro Sitio Web</h1>
</div>
<div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
  
  <!-- foto 1 -->
  <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
    <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
      <h4 class="ae-u-bolder">Nosotros</h4>
      <p class="ae-eta">Dentro de la firma Char & Asoc.,
        entre otros grupos de abogados y abogadas, se destaca el que ejerce la rama del derecho penal,
        caracterizándose en nuestra provincia por encarar la profesión y representar a quienes nos confían sus litigios,
        de una manera coherente, prudente, ética, siempre a la altura de cualquier circunstancia.</p>
    </div>
    <div class="ae-grid__item item-lg-6 item-lg--offset-1">
      <img src="assets/img/11.png" style="border-radius: 7px;">
    </div>
   
  </div>
  <!-- foto 2 -->
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-8"><img src="assets/img/10.jpg" style="border-radius: 7px;"></div>
    <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">

      <p class="au-mb-3">Trabajamos para poder
        brindar la estructura necesaria a todo caso penal y hacer frente a las demandas de nuestrxs asisitidxs. </p>
      <p class="ae-u-bolder">Nuestro Equipo</p>
      <p>Patricio Char, Nicolas Ruiz Belmonte, Agustina Recalde, Candelaria Hernandez y Tomas Álvarez,
        son los integrantes del equipo, que combinan experiencia, juventud, dinámica e inteligencia.</p>
    </div>
  </div>

  <!-- foto 3 -->
  <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder">Servicios</h4>
      <h5 class="ae-u-bolder">Contamos con un equipo de profesionales asociados en diversas áreas jurídicas</h5>
      <h5>Derecho Penal - Derecho Político
        - Derecho Laboral - Derecho de Familia - Accidentes de Tránsito y Laborales.</h5>
    </div>
  </div>
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg--auto"><img src="assets/img/9.jpg" style="border-radius: 8px;"></div>
  </div>

  <!-- foto 4 -->

  <div class="ae-grid--alt test">
    <div class="ae-grid__item--alt item-sm--auto item-sm--offset-1 item-lg--offset-0 item-sm--end item-sm--bottom">
      <div class="ae-grid ae-grid--alt8 au-xs-ta-center au-sm-ta-left">
        <div class="ae-grid__item--alt8 item-lg-6"><span class="ae-u-boldest"></span><br>
          <p class="au-mt-1"></p><span
            class="ae-u-boldest"></span>
          <p class="au-mt-1"></p>
        </div>
      </div>
    </div>
    
</div>

<!-- foto 5 -->

<div class="ae-grid ae-grid--collapse">
  <div class="ae-grid__item item-lg-6"><img src="assets/img/14.jpg" style="border-radius: 10px;"></div>
  <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
<br>   
<h4 class="ae-u-bolder">¿Querés formar parte de nuestro equipo?.</h4>
 <span style="text-align: center;">Envía tu Cv a <b>char.asociados&#64;gmail.com</b></span>  
  </div>
</div>



