

<!-- seccion 1 -->
<div class="ae-grid au-xs-ta-center au-mb-4">
    
  <div class="ae-grid au-pt-2" >
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder">Nuestro Equipo</h4>
      <p>Nuestro equipo de abogados desempeña un papel esencial en la 
        prestación de servicios legales a sus clientes, brindándoles asesoramiento, 
        representación y apoyo en diversas cuestiones jurídicas. La relación entre un equipo
         de abogados y un cliente es fundamental para el éxito en la resolución de problemas legales y
          la defensa de los intereses del cliente</p>
    </div>
  </div>

      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-1">
        <img src="assets/img/Pato.jpg" style="height: 500px;border-radius: 20px;" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Patricio Char</h5>
        <p class="ae-u-bolder au-mb-3">Especialidad en Derecho Penal</p>
      
    </div>
      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img src="/assets/img/3.JPG" style="height: 500px;border-radius: 20px;" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Nicolas Belmonte</h5>
        <p class="ae-u-bolder au-mb-3">Especialidad en Derecho Penal</p>
      </div>

      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img src="/assets/img/21.jpg" style="height: 500px;border-radius: 20px;" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Agostina Cazorla Paez</h5>
        <p class="ae-u-bolder au-mb-3">Especialidad en Derecho Civil y Comercial</p>
      </div>
  
      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img src="/assets/img/Andrea.png" style="height: 500px;border-radius: 20px;" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Andrea Galleti </h5>
        <p class="ae-u-bolder au-mb-3">Especialidad en Derecho de Familia</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">.</p>
    </div>

      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img src="/assets/img/22.png" style="height: 500px;border-radius: 20px;" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Agustina Recalde</h5>
        <p class="ae-u-bolder au-mb-3">Especialidad en Derecho Penal</p>
      </div>

      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img src="/assets/img/5.JPG" style="height: 500px;border-radius: 20px;" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Tomas Alvarez</h5>
        <p class="ae-u-bolder au-mb-3">Especialidad en Derecho Penal</p>
      </div>

      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img src="/assets/img/Agustina.jpg" style="height: 500px;border-radius: 20px;" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Agustina Romano</h5>
        <p class="ae-u-bolder au-mb-3">Secretaria de asistencia y coordinación</p>
      </div>

      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img src="/assets/img/Cande1.png" style="height: 500px;border-radius: 20px;" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">Candela Hernandez</h5>
        <p class="ae-u-bolder au-mb-3">Especialidad en Derecho Penal</p>
      </div>
  
    </div>
  
  
  <!--
  <div class="ae-grid au-xs-ta-center au-mb-4">
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/20.png" alt="" style="height: 500px;border-radius: 10px;" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Robert T. Williams</h5>
      <p class="ae-u-bolder au-mb-3">Graphic Designer</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p><a href="#0" class="ae-u-bolder au-underline">robertwilliams</a>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/20.png" alt="" style="height: 500px;border-radius: 10px;" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Angelina B. Widow</h5>
      <p class="ae-u-bolder au-mb-3">Founder / CEO</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p><a href="#0" class="ae-u-bolder au-underline">angelinawidow</a>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/20.png" alt="" style="height: 500px;border-radius: 10px;" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Patrick Anderson</h5>
      <p class="ae-u-bolder au-mb-3">Art Director</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><a href="#0" class="ae-u-bolder au-underline">patrickanderson</a>
    </div>
  </div>
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder">Title example</h4>
      <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
    </div>
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">About Us</h6>
      <p class="au-lh-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Our Mission</h6>
      <p class="au-lh-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Our Clients</h6>
      <p class="au-lh-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
      <p class="au-lh-3">Nemo enim ipsam voluptatem quia voluptas</p>
    </div>
  </div>
  <p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">View Our Portfolio<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></p>
<div></div>
   
-->

